@font-face {
    font-family: "Cuprum";
    src: local("Cuprum"),
         url(../fonts/Cuprum.woff2) format("woff2"),
         url(../fonts/Cuprum.woff) format("woff");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "Cuprum";
    src: local("Cuprum"),
         url(../fonts/Cuprumbold.woff2) format("woff2"),
         url(../fonts/Cuprumbold.woff) format("woff");
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: "Cuprum";
    src: local("Cuprum"),
         url(../fonts/Cuprumitalic.woff2) format("woff2"),
         url(../fonts/Cuprumitalic.woff) format("woff");
    font-weight: 400;
    font-style: italic;
}

@font-face {
    font-family: "Cuprum";
    src: local("Cuprum"),
         url(../fonts/Cuprumbolditalic.woff2) format("woff2"),
         url(../fonts/Cuprumbolditalic.woff) format("woff");
    font-weight: 700;
    font-style: italic;
}

@font-face {
    font-family: "PTSans";
    src: local("PTSans"),
         url(../fonts/Ptsans.woff2) format("woff2"),
         url(../fonts/Ptsans.woff) format("woff");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "PTSans";
    src: local("PTSans"),
         url(../fonts/Ptsansbold.woff2) format("woff2"),
         url(../fonts/Ptsansbold.woff) format("woff");
    font-weight: 700;
    font-style: normal;
}

html { 
    box-sizing: border-box; 
} 

*, *::before, *::after { 
    box-sizing: inherit; 
}

body {
    margin: 0;
    padding: 0;
    font-family: "Cuprum", "Arial", sans-serif;
    font-weight: normal;
}

a {
    text-decoration: none;
    color: #ffffff;
    background-color: #293449;
}

.visually-hidden {
    position: absolute;
    clip: rect(0 0 0 0);
    width: 1px;
    height: 1px;
    margin: -1px;
}

.main-header {
    display: flex;
    flex-direction: column;
}

.header-background-1 {
    background-color: #293449;
}

.header-background-2 {
    background-color: #f4f7f9;
    padding-bottom: 60px;
}

.wrapper {
    margin: 0 auto;
    width: 960px;
    padding: 0 10px;
}

.header-first-lvl {
    background-color: #293449;
    color: #ffffff;
    font-size: 17px;
    line-height: 18px;
    display: flex;
}

.logo {
    background-color: #ee3643;
}

.header-logo {
    width: 220px;
    height: 42px;
    padding: 12px 55px;
}

.header-logo:hover {
    fill: #ca2c37;
}

.header-logo:active {
    fill: #ba2732;
}

.search {
    font: inherit;
    background-color: #293449;
    border: 0px;
    width: 270px;
    height: 42px;
    padding: 15px;
    padding-left: 50px;
}

.search-block {
    position: relative;
}

.search-block::before {
    content: "";
    width: 17px;
    height: 17px;
    background: url("../img/icon-search.svg") no-repeat;
    position: absolute;
    top: 12px;
    left: 17px;
}

.search:hover {
    background-color: #212a3a;
}

.search:focus {
    background-color: #ffffff;
    color: #000000;
}

.make-an-order {
    background-color: #63a63e;
    width: 150px;
    height: 42px;
    padding: 12px 21px;
    padding-bottom: 15px;
    margin-left: auto;
}

.make-an-order:hover {
    background-color: #5fbb2d;
}

.make-an-order:active {
    background-color: #518534;
}

.basket {
    display: block;
    width: 150px;
    height: 42px;
    padding-top: 12px;
    padding-bottom: 14px;
    padding-left: 50px;
    padding-right: 29px;
    position: relative;
}

.basket::before {
    content: "";
    width: 15px;
    height: 15px;
    background: url("../img/icon-cart.svg") no-repeat;
    position: absolute;
    top: 12px;
    left: 18px;
}

.basket-active {
    background-color: #ee3643;
}

.bookmarks {
    display: block;
    width: 150px;
    height: 42px;
    padding-top: 12px;
    padding-bottom: 14px;
    padding-left: 45px;
    padding-right: 25px;
    position: relative;
}

.bookmarks::before {
    content: "";
    width: 14px;
    height: 16px;
    background: url("../img/icon-bookmark.svg") no-repeat;
    position: absolute;
    top: 12px;
    left: 17px;
}

.bookmarks:hover,
.basket:hover {
    background-color: #212a3a;
}

.bookmarks:active,
.basket:active {
    background-color: #161d29;
}

.header-second-lvl {
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 45px 0;
    padding-bottom: 40px;
}

.header-second-lvl h1 {
    margin: 0;
    padding: 0;
    color: #ee3643;
    font-size: 16px;
    line-height: 23px;
    font-style: italic;
    width: 260px;
    min-height: 60px;
    padding-left: 50px;
}

.header-contacts {
    margin: 0;
    padding: 0;
    width: 270px;
}

.header-telephone {
    display: block;
    margin: 0;
    padding: 0;
    color: #ee3643;
    font-size: 21px;
    line-height: 21px;
    background-color: transparent;
    border: 3px solid #ffffff;
    width: 270px;
    min-height: 45px;
    padding-top: 11px;
    padding-bottom: 8px;
    padding-left: 67px;
    padding-right: 53px;
    position: relative;
}

.header-telephone::before {
    content: "";
    position: absolute;
    background-image: url("../img/icon-phone.svg");
    background-repeat: no-repeat;
    width: 19px;
    height: 19px;  
    top: 11px;
    left: 8px;
}

.header-address {
    margin: 0;
    padding: 0;
    color: #32425c;
    font-size: 14px;
    line-height: 24px;
    font-style: normal;
    margin-top: 4px;
    text-align: center;
}

.user-buttons {
    margin: 0;
    padding: 0;
    list-style: none;
    font-size: 21px;
    line-height: 21px;
    width: 280px;
    display: flex;
    align-self: flex-start;
}

.user-buttons a {
    background: transparent;
    color: #000000;
}

.user-buttons li {
    background-color: #ffffff;
    min-height: 45px;
}

.to-log-in {
    margin: 0;
    padding: 0;
    margin-right: 10px;
    padding-right: 27px;
    padding-left: 48px;
    padding-top: 13px;
    padding-bottom: 11px;
    position: relative;
}

.to-log-in::before {
    content: "";
    position: absolute;
    width: 20px;
    height: 17px;
    background: url(../img/icon-login.svg) no-repeat;
    top: 14px;
    left: 14px;
}

.to-sign-in {
    margin: 0;
    padding: 0;
    padding-left: 25px;
    padding-right: 21px;
    padding-top: 13px;
    padding-bottom: 11px;
}

.user-buttons a:hover {
    color: #ee3643;
}

.user-buttons a:active {
    color: rgba(0, 0, 0, 0.3);
}

.name {
    color: #000000;
    font-size: 21px;
    line-height: 21px;
}

.name:active {
    color: rgba(0, 0, 0, 0.3);
}

.orders,
.personal-account {
    text-decoration: underline;
    color: #32425c;
    font-size: 16px;
    line-height: 18px;
}

.orders:hover,
.personal-account:hover {
    color: #ee3643;
}

.orders:active,
.personal-account:active {
    color: rgba(50, 66, 92, 0.3);
}


.main-navigation {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    background-color: #32425c;
}

.main-navigation li {
    min-height: 60px;
    background-color: #32425c;
}

.main-navigation a {
    background-color: transparent;
    display: block;
    padding: 19px 31px;
    font-size: 17px;
    line-height: 17px;
}

a.main-navigation-item-1 {
    padding-left: 53px;
    padding-right: 28px;
}

a.main-navigation-item-2 {
    padding-left: 36px;
    padding-right: 30px;
}

a.main-navigation-item-3 {
    padding-left: 29px;
    padding-right: 22px;
}

a.main-navigation-item-4 {
    padding-left: 36px;
    padding-right: 31px;
}

a.main-navigation-item-5 {
    padding-left: 28px;
    padding-right: 20px;
}

a.main-navigation-item-6 {
    padding-left: 42px;
    padding-right: 32px;
}

a.main-navigation-item-7 {
    padding-left: 32px;
    padding-right: 50px;
}
*/
.main-navigation a:hover {
    color: #32425c;
}

.main-navigation a:active {
    color: #1d2739;
}

.breadcrumbs {
    color: #000000;
    font-size: 13px;
    line-height: 18px;
}

.perforators {
    background-color: #f9f5f0;
}

.perforators h2 {
    font-size: 30px;
    line-height: 30px;
    color: #32425c;
    text-transform: uppercase;
}

.filters {
    font-family: "PT Sans", "Arial", sans-serif;
}

.filters h3 {
    color: #000000;
    font-size: 13px;
    line-height: 18px;
}
.filters .filter-background {
    background-color: #f7f3ec;
}

.company-filter,
.charge-filter {
    color: #000000;
    font-size: 15px;
    line-height: 20px;
}

.filters legend {
    color: #000000;
    font-weight: bold;
    font-size: 17px;
    line-height: 30px;
}

.show-result {
    color: #000000;
    font-size: 13px;
    line-height: 18px;
}

.assortment {
    background-color: #f7f3ec;
    font-family: "PT Sans", "Arial", sans-serif;
}

.assortment-list {
    list-style: none;
}

.assortment-list li.inactive {
    color: rgba(0, 0, 0, 0.3);
    border-bottom: 1px dotted #ee3643;
}

.assortment li.active {
    color: #ee3643;
}

.assortment-list li:hover{
    color: #000000;
    border-bottom: 1px solid #ee3643;
}

.assortment-list li:active{
    color: #ee3643;
}

.assortment-buttons li:hover{
    color: #000000;
}

.assortment-buttons li:active{
    color: #ee3643;
}


.about-perforators {
    background-color: #f3f7f9;
    color: #000000;
}

.about-perforators h2 {
    font-size: 30px;
    line-height: 30px;
}

.about-perforators p {
    font-size: 13px;
    line-height: 24px;
}

.paginator-pages li {
    font-size: 13px;
    line-height: 18px;
    color: #000000;
    text-transform: uppercase;
}

.paginator-pages .current-page {
    background-color: #ee3643;
}

.advantages {
    text-transform: uppercase;
    color: #ffffff;
    font-size: 13px;
    line-height: 18px;
}

.advantages-list {
    margin: 0;
    padding: 0;   
}

.advantage-item{
    width: 300px;
    min-height: 123px;
    padding-top: 20px;
    padding-left: 23px;
    padding-bottom: 22px;
}

.advantages-first-lvl {
    padding-top: 60px;
    width: 940px;
    display: flex;
    justify-content: space-between;
}

.advantages-second-lvl {
    display: flex;
    flex-direction: row-reverse;
}

.goods {
    background-color: #ffbf47;
    background-image: url("../img/icon-1.svg");
    background-repeat: no-repeat;
    background-position: 213px 31px;
}

.instruments {
    background-color: #3bbce3;
    background-image: url("../img/icon-2.svg");
    background-repeat: no-repeat;
    background-position: 197px 33px;
}

.equipment {
    background-color: #dc91d8;
    background-image: url("../img/icon-3.svg");
    background-repeat: no-repeat;
    background-position: 191px 31px;
}

.discounts {
    background-color: #8ed78f;
    background-image: url("../img/icon-4.svg");
    background-repeat: no-repeat;
    background-position: 196px 26px;
}

.delivery {
    background-color: #ffc047;
    background-image: url("../img/icon-5.svg");
    background-repeat: no-repeat;
    background-position: 191px 32px;
}

.advantage-item h3{
    margin: 0;
    font-weight: bold;
    text-transform: none;
    font-size: 24px;
    line-height: 30px;
    margin-bottom: 12px;
}

.advantage-item a {
    display: block;
    font-size: 14px;
    line-height: 18px;
    color: #ffffff;
    background-color: rgba(0, 0, 0, 0.1);
    width: 135px;
    height: 38px;
    padding-bottom: 14px;
    padding-top: 12px;
    text-align: center;
}

.advantage-item a:hover {
    color: #ffffff;
    background-color: rgba(0, 0, 0, 0.2);
}

.advantage-item a:active {
    color: #ffffff;
    background-color: rgba(0, 0, 0, 0.3);
}

.first-slider {
    list-style: none;
    margin: 0;
    padding: 0;
}

.first-slider b {
    font-size: 36px;
    line-height: 36px;
}

.first-slider span {
    font-size: 18px;
    line-height: 24px;
    text-transform: none;
}

.top-slider {
    width: 620px;
    position: relative;
}

.top-slider .radio-first,
.top-slider .radio-second {
    position: absolute;
    z-index: 3;
    bottom: 36px;
    width: 10px;
    height: 10px;
    border: 2px solid white;
    border-radius: 50%;
    font-size: 0;
    background-color: white;
}

.radio-first {
    left: 295px;
}

.radio-second {
    left: 315px;
}

.slide-item {
    display: none;
}

#slide-back:checked ~ .first-slider #slide1,
#slide-next:checked ~ .first-slider #slide2 {
    display: block;
}

#slide-next:checked ~ label.radio-second,
#slide-back:checked ~ label.radio-first {
    z-index: 15;
    background-color: red;
}

.slide-item {
    position: relative;
    height: 266px;
}

.slide-item b,
.slide-item span {
    position: absolute;
    left: 24px;
}

.slide-item b {
    top: 26px;
}

.slide-item span {
    top: 64px;
}

.slide-item a {
    position: absolute;
    bottom: 22px;
    left: 25px;
    display: block;
    width: 195px;
    height: 38px;
    padding: 47px;
    padding-bottom: 16px;
    padding-top: 12px;
}

label[for="slide-next"].button-second {
    width: 22px;
    height: 40px;
    font-size: 0px;
    background-image: url("../img/icon-right.svg");
    background-repeat: no-repeat;  
    position: absolute;
    top: 114px;
    right: 20px;
    z-index: 5;
    cursor: pointer;
}

label[for="slide-back"].button-first {
    font-size: 0px;
    width: 22px;
    height: 40px;
    background-image: url("../img/icon-left.svg");
    background-repeat: no-repeat;
    position: absolute;
    top: 114px;
    left: 25px;
    z-index: 5;
    cursor: pointer;
}

.advantages-second-lvl {
    margin-top: 20px;
}

.flex-wrapper {
    margin-left: 20px;
    display: flex;
    flex-direction: column;
}

.flex-wrapper .discounts {
    margin-bottom: 20px;
}

.popular-items {
    margin-top: 53px;
}

.gray-block {
    background-color: #f9f5f0;
    min-height: 89px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-right: 24px;
    padding-left: 25px;
}

.gray-block a {
    width: 253px;
    min-height: 38px;
    text-align: center;
    line-height: 38px;
}

.gray-block h2 {
    padding: 0;
    margin: 0;
    font-size: 29px;
    line-height: 29px;
    color: #32425c;
    text-transform: uppercase;
}

.popular-item-list {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    margin-top: 20px;
}

.popular-item {
    font-family: "PTSans" , "Arial", sans-serif;
    width: 220px;
    min-height: 316px;
    border: 1px solid #e5e5e5;
    margin-right: 20px;
    text-align: center;
    position: relative;
}

.popular-item:nth-child(4n) {
    margin-right: 0;
}

.popular-item img {
    min-height: 170px;
    width: 218px;
}

article.new img {
    padding-left: 15px;
}

article.new .old-price{
    visibility: hidden;
}

.to-buy,
.add-to-bookmarks {
    display: none;
}

.popular-item h3 {
    width: 175px;
    min-height: 33px;
    margin: 0 auto;
    margin-top: 5px;
}

.popular-item-name a {
    background-color: transparent;
    color: #000000;
}

.popular-item .current-price {
    display: block;
    width: 122px;
    min-height: 38px;
    padding: 10px 0;
    padding-left: 13px;
    text-align: center;
    position: relative;
    margin-left: 43px;
    margin-right: 41px;
    margin-bottom: 20px;
}

.popular-item .current-price::after {
    content: "";
    width: 27px;
    height: 26px;
    background-color: #ee3643;
    transform: rotate(45deg);
    position: absolute;
    top: 6px;
    left: 109px;
}

.popular-item:hover img{
    visibility: hidden;
}

.popular-item:hover .to-buy,
.popular-item:hover .add-to-bookmarks{
    position: absolute;
    left: 41px;

    display: block;
}

.to-buy {
    background-color: #63a63e;
    color: #ffffff;
    text-transform: uppercase;
    font-size: 14px;
    line-height: 18px;
}

.to-buy:hover{
    background-color: #5fbb2d;
}

.to-buy:active{
    background-color: #518534;
}

.add-to-bookmarks {
    background-color: #ffffff;
    color: #32425c;
    text-transform: uppercase;
    border: 3px solid #63a63e;
    font-size: 14px;
    line-height: 18px;
}

.add-to-bookmarks:hover {
    border: 3px solid #32425c;
}

.add-to-bookmarks:active {
    border: 3px solid #32425c;
    opacity: 0.3;
    color: rgba(50, 66, 92, 0.3);
}

.popular-item h3 {
    color: #000000;
    font-size: 18px;
    line-height: 20px;
}

.old-price {
    font-size: 17px;
    line-height: 18px;
    color: #a9a9a9;
    text-decoration: line-through;
    font-weight: bold;
    margin-bottom: 9px;
    margin-top: 11px;
    display: block;
}

.current-price {
    background-color: #ee3643;
    font-size: 17px;
    line-height: 18px;
    color: #ffffff;
    font-weight: bold;
}

.popular-manufactures > div {
    background-color: #f9f5f0;
    font-size: 30px;
    line-height: 30px;
    color: #32425c;
    text-transform: uppercase;
}

.popular-manufactures-list {
    list-style: none;
    padding: 0;
    margin: 0;
    padding-top: 20px;
    display: flex;
    flex-wrap: wrap;
}

.popular-manufactures {
    padding-top: 21px;
}

.popular-manufactures-item a{
    background: transparent;
}

.popular-manufactures-item {
    width: 220px;
    min-height: 145px;
    border: 1px solid #eaeaea;
    margin-right: 20px;
    margin-bottom: 20px;
}

.popular-manufactures-item a {
    display: flex;
    min-height: 145px;
    justify-content: center;
    align-items: center;
}

.popular-manufactures-item:nth-child(4n) {
    margin-right: 0px;
}

.services-background {
    background-color: #f4f7f9;
}

.services {
    background-color: #f4f7f9;
    margin-top: 65px;
}

.top-block {
    width: 400px;
    min-height: 100px;
    padding-top: 63px;
    margin-bottom: 72px;
}

.top-block h2 {
    margin: 0;
    padding: 0;
    font-size: 30px;
    line-height: 30px;
    text-align: left;
    color: #000000;
    text-transform: uppercase;
    font-size: 30px;
    line-height: 30px;
}

.top-block p {
    margin: 0;
    padding: 0;
    margin-top: 25px;
    font-family: "PTSans" , "Arial", sans-serif;
    font-size: 13px;
    line-height: 24px;
    text-align: left;
    color: #000000;
}

.second-slider-buttons {
    list-style: none;
    padding: 0;
    margin: 0;
    min-height: 180px;
    width: 220px;
}

.second-slider-button label {
    display: block;
    width: 240px;
    height: 61px;
    background-color: #32425c;
    color: #ffffff;
    font-weight: bold;
    font-size: 21px;
    line-height: 30px;
    padding-top: 19px;
    padding-bottom: 22px;
    padding-right: 10px;
    padding-left: 23px;
    cursor: pointer;
}

.second-slider {
    list-style: none;
    padding: 0;
    margin: 0;
    width: 620px;
    min-height: 282px;
    margin-left: 80px;
}

.second-slider p {
    margin: 0;
}

.second-slider b {
    color: #32425c;
    font-weight: normal;
    font-size: 36px;
    line-height: 36px;
    
}

.second-slider-container {
    display: flex;
}

.second-slider-slide {
    display: none;
    width: 620px;
    min-height: 282px;
}

#delivery-slide:checked ~ .second-slider #second-slider-slide-1,
#garancy-slide:checked ~ .second-slider #second-slider-slide-2,
#credit-slide:checked ~ .second-slider #second-slider-slide-3 {
    display: block;
}

#delivery-slide:checked ~ label[for="delivery-slide"],
#garancy-slide:checked ~ label[for="garancy-slide"],
#credit-slide:checked ~ label[for="credit-slide"] {
    background-color: #ffffff;
    color: #32425c;
}

.about-us {
    width: 960px;
    padding: 0 10px;
    margin: 0 auto;;
    padding-top: 80px;
    display: flex;
}

.about-us h2 {
    padding: 0;
    margin: 0;
    color: #000000;
    font-size: 30px;
    line-height: 30px;
    font-weight: normal;
    text-transform: uppercase;
}

.about-us p {
    padding: 0;
    margin: 0;
    font-family: "PTSans", "Arial", sans-serif;
}

.about-us a {
    display: block;
}

.our-benefits {
    color: #000000;
    font-size: 13px;
    line-height: 24px;
    width: 525px;
    min-height: 375px;
}

.our-benefits a {
    width: 220px;
    padding-top: 11px;
    padding-bottom: 9px;
    text-align: center;
}

p.first-paragraph {
    margin-top: 27px;
    margin-bottom: 23px;
}

p.second-paragraph {
    width: 400px;
}

.transport-companies {
    list-style-type: none; 
    margin: 0;
    padding: 0;
    color: #000000;
    font-size: 18px;
    line-height: 20px;
    padding-left: 35px;
    margin-top: 20px;
    margin-bottom: 37px;
}

.transport-companies li {
    position: relative;
    margin-top: 20px;
}

.transport-companies li::before {
    content: "";
    width: 25px;
    height: 2px;
    background-color: #ee3643;
    position: absolute;
    top: 50%;
    left: -35px;
}

.contacts {
    width: 300px;
    min-height: 375px;
    margin-left: 120px;
}

.contacts p {
    margin-top: 27px;
    width: 180px;
}

.contacts a:not(.map) {
    padding-bottom: 9px;
    padding-top: 11px;
    text-align: center;
    padding-left: 5px;
}

a.map {
    height: 158px;
    background-color: transparent;
    margin-top: 30px;
    margin-bottom: 40px;
}

.contacts h2 {
    text-transform: uppercase;
    color: #000000;
    font-size: 30px;
    line-height: 30px;
}

.contacts p {
    font-family: "PTSans", "Arial", sans-serif;
    color: #000000;
    font-size: 13px;
    line-height: 24px;
}

footer {
    background-color: #32425c;
    margin-top: 85px;
    display: flex;
    flex-direction: column;
}

footer ul {
    list-style: none;
}

footer a {
    background-color: transparent;
}

.footer-background-1 {
    background-color: #32425c;
}

.footer-background-2 {
    background-color: #293449;
}

.footer-first-lvl {
    display: flex;
    min-height: 100px;
    justify-content: space-between;
}

.footer-first-lvl > a {
    height: 68px;
    width: 220px;
}

.footer-first-lvl img {
    padding: 20px 41px;
    padding-bottom: 25px;
}

.footer-first-lvl .site-navigation {
    display: flex;
    margin: 0;
    padding: 0;
    align-items: center;
}

.site-navigation li {
    color: #f3f7f9;
    font-size: 18px;
    line-height: 24px;
    margin-right: 60px;
}

.site-navigation a {
    background-color: transparent;
}

.site-navigation li:nth-child(5n) {
    margin-right: 0;
}

.site-navigation a:hover,
.catalog-navigation a:hover {
    text-decoration: underline;
}

.site-navigation a:active {
    color: rgba(241, 245, 247, 0.5);
}

.catalog-navigation a:active {
    color: rgba(255, 209, 128, 0.5);
}

.footer-second-lvl{
    display: flex;
    justify-content: space-between;
    min-height: 93px;
    font-size: 18px;
    line-height: 24px;
}

.footer-contacts {
    width: 325px;
}

.footer-address {
    font-style: normal;
}

.footer-catalog-navigation {
    margin: 0;
    display: flex;
    align-items: flex-start;
}

.footer-catalog-navigation li {
    margin-right: 60px;
}

.footer-catalog-navigation li:nth-child(4n) {
    margin-right: 0;
}

.footer-address {
    color: #ffffff;
    font-size: 18px;
    line-height: 24px;
}

.catalog-navigation {
    color: #ffd180;
    font-size: 18px;
    line-height: 24px;
}

.footer-third-lvl {
    display: flex;
    padding-top: 37px;
    padding-bottom: 35px;
}

.all-rights {
    color: #ffffff;
    font-size: 16px;
    line-height: 18px;
    padding: 0;
    margin: 0;
    width: 230px;
}

.social-btns-list {
    list-style: none;
    margin: 0;
    padding: 0;
    width: 130px;
    display: flex;
    justify-content: space-between;
    margin-left: 162px;
    margin-right: 120px;
}

.social-btns-list li {
    width: 42px;
    height: 42px;
}

a.social-btn {
    display: block;
    background-color: #212a3a;
    width: 42px;
    height: 42px;
    border-radius: 50%;
}

.social-btn-vk {
    background: url("../img/icon-vk.svg") no-repeat;
    background-position: 50% 50%;
}

.social-btn-fb {
    background: url("../img/icon-fb.svg") no-repeat;
    background-position: 50% 50%;
}

.social-btn-inst {
    background: url("../img/icon-insta.svg") no-repeat;
    background-position: 50% 50%;
}


.social-btn:hover,
.social-btn:active {
    background-color: #ee3643;
}

.developer-block {
    display: flex;
    justify-content: space-between;
    width: 285px;
}

p.feedback {
    margin: 0;
    width: 135px;
    min-height: 35px;
}

p.site-developer {
    margin: 0;
    width: 100px;
    min-height: 35px;
}

.feedback,
.site-developer {
    font-size: 16px;
    line-height: 18px;
    color: #ffffff;
}

.feedback a,
.site-developer a {
   color: #ffd180;
}

.feedback a:hover,
.site-developer a:hover {
   text-decoration: underline;
}

.feedback a:active,
.site-developer a:active {
   color: #ee3643;
}

.button {
    background-color: #ee3643;
    font-size: 14px;
    line-height: 18px;
    color: #ffffff;
    text-transform: uppercase;
    border-radius: 3px;
}

.button:hover {
    background-color: #ca2c37;
}

.button:active {
    background-color: #ba2732;
}

.modal-feedback,
.modal-map,
.modal-added-in-basket {
    display: none;
}

.modal-feedback {
    position: fixed;
    top: 50%;
    left: 50%;
    margin-left: -310px;
    margin-top: -210px;
    width: 620px;
    min-height: 423px;
    border-top: 7px solid #ee3643;
    background-color: white;
    z-index: 100;
}

.modal-feedback .input-container {
    margin: 0;
    min-height: 321px;
    border: 0;
    padding-left: 80px;
    padding-right: 80px;
    padding-top: 47px;
    padding-bottom: 37px;
    display: flex;
    flex-wrap: wrap;
    text-align: left;
}

.modal-feedback input {
    width: 100%;
    font-family: "PT Sans", "Arial", sans-serif;
    font-size: 13px;
    line-height: 18px;
    color: #a9a9a9;
}

.login-container,
.e-mail-container {
    width: 220px;
}

.modal-feedback label {
    color: #000000;
    font-size: 18px;
    line-height: 18px;
}

.login-container input,
.e-mail-container input {
    height: 38px;
    padding: 0;
    border: 2px solid #dee3e4;
    padding-left: 16px;
    padding-top: 14px;
    padding-bottom: 14px;
    margin-top: 13px;  
}

.e-mail-container {
    margin-left: 20px;
}

.letter-container {
    width: 460px;
    margin-top: 22px;
}

.letter-container textarea {
    width: 100%;
    padding: 0;
    padding-top: 13px;
    padding-left: 16px;
    min-height: 114px;
    margin-top: 13px;
    border: 2px solid #dee3e4;
}

.modal-submit-container {
    background-color: #f4f4f4;
    padding: 37px 80px;
}

.modal-submit-container button {
    padding: 0;
    border: 0;
    padding-top: 13px;
    padding-bottom: 11px;
    width: 100%;
    min-height: 38px;
}

.modal-close {
    position: absolute;
    top: 7px;
    right: 7px;
    width: 21px;
    height: 21px;
    font-size: 0px;
    background-color: transparent;
    border: 0;
    cursor: pointer;
    outline: 0px;
}

.modal-close::after {
    content: "";
    width: 25px;
    height: 3px;
    transform: rotate(45deg);
    background-color: red;
    position: absolute;
    top: 7px;
    left: -4px;
}

.modal-close::before {
    content: "";
    width: 25px;
    height: 3px;
    transform: rotate(-45deg);
    background-color: red;
    position: absolute;
    top: 7px;
    left: -4px;
}

.modal-map {
    position: fixed;
    width: 940px;
    height: 446px;;
    top: 50%;
    left: 50%;
    margin-left: -470px;
    margin-top: -223px;
}