@font-face {
    font-family: "Cuprum";
    src: local("Cuprum"),
         url(../fonts/Cuprum.woff2) format("woff2"),
         url(../fonts/Cuprum.woff) format("woff");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "Cuprum";
    src: local("Cuprum"),
         url(../fonts/Cuprumbold.woff2) format("woff2"),
         url(../fonts/Cuprumbold.woff) format("woff");
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: "Cuprum";
    src: local("Cuprum"),
         url(../fonts/Cuprumitalic.woff2) format("woff2"),
         url(../fonts/Cuprumitalic.woff) format("woff");
    font-weight: 400;
    font-style: italic;
}

@font-face {
    font-family: "Cuprum";
    src: local("Cuprum"),
         url(../fonts/Cuprumbolditalic.woff2) format("woff2"),
         url(../fonts/Cuprumbolditalic.woff) format("woff");
    font-weight: 700;
    font-style: italic;
}

@font-face {
    font-family: "PTSans";
    src: local("PTSans"),
         url(../fonts/Ptsans.woff2) format("woff2"),
         url(../fonts/Ptsans.woff) format("woff");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "PTSans";
    src: local("PTSans"),
         url(../fonts/Ptsansbold.woff2) format("woff2"),
         url(../fonts/Ptsansbold.woff) format("woff");
    font-weight: 700;
    font-style: normal;
}

html { 
    box-sizing: border-box; 
} 

*, *::before, *::after { 
    box-sizing: inherit; 
}

body {
    margin: 0;
    padding: 0;
    font-family: "Cuprum", "Arial", sans-serif;
    font-weight: normal;
}

a {
    text-decoration: none;
    color: #ffffff;
    background-color: #293449;
}

.main-header {
    display: flex;
    flex-direction: column;
}

.header-background-1 {
    background-color: #293449;
}

.header-background-2 {
    background-color: #f4f7f9;
}

.wrapper {
    margin: 0 auto;
    width: 960px;
    padding: 0 10px;
}

.header-first-lvl {
    background-color: #293449;
    color: #ffffff;
    font-size: 17px;
    line-height: 18px;
    display: flex;
}

.logo {
    background-color: #ee3643;
}

.header-logo {
    width: 220px;
    height: 42px;
    padding: 14px 55px;
}

.header-logo:hover {
    fill: #ca2c37;
}

.header-logo:active {
    fill: #ba2732;
}

.search {
    font-family: inherit;
    background-color: #293449;
    border: 0px;
    width: 270px;
    height: 42px;
    padding: 15px;
    padding-left: 50px;
}

.search:hover {
    background-color: #212a3a;
}

.search:focus {
    background-color: #ffffff;
    color: #000000;
}

.make-an-order {
    background-color: #63a63e;
    width: 150px;
    height: 42px;
    padding: 13px 21px;
    margin-left: auto;
}

.make-an-order:hover {
    background-color: #5fbb2d;
}

.make-an-order:active {
    background-color: #518534;
}

.basket {
    display: block;
    width: 150px;
    min-height: 42px;
    padding: 13px;
    padding-left: 50px;
    padding-right: 29px;
}

.basket-active {
    background-color: #ee3643;
}

.bookmarks {
    display: block;
    width: 150px;
    min-height: 42px;
    padding: 13px;
    padding-left: 43px;
    padding-right: 28px;
}

.bookmarks:hover,
.basket:hover {
    background-color: #212a3a;
}

.bookmarks:active,
.basket:active {
    background-color: #161d29;
}

.header-second-lvl {
    display: flex;

}

.h1-container {
    width: 196px;
    min-height: 60px;
    margin-right: 70px;
    margin-left: 53px;
    margin-top: 54px;
    margin-bottom: 44px;
}

.header-second-lvl h1 {
    color: #ee3643;
    font-size: 16px;
    line-height: 23px;
    font-style: italic;
}

.header-contacts {
    margin-top: 46px;
    border: 1px solid black;
    margin-bottom: 44px;
    align-self: center;
}

.header-telephone {
    color: #ee3643;
    font-size: 21px;
    line-height: 21px;
    background-color: transparent;
    border: 3px solid #ffffff;
    width: 270px;
    min-height: 45px;
    padding: 11px;
    padding-right: 45px;
    padding-left: 75px;
}

.header-address {
    color: #32425c;
    font-size: 14px;
    line-height: 24px;
}

.user-buttons {
    list-style: none;
    font-size: 21px;
    line-height: 21px;
}

.user-buttons a {
    background: transparent;
    color: #000000;
}

.user-buttons li {
    background-color: #ffffff;
    min-height: 45px;
    margin-top: 46px;
}

.to-log-in {
    width: 120px;  
}

.to-sign-in {
    width: 150px;
}

.user-buttons a:hover {
    color: #ee3643;
}

.user-buttons a:active {
    color: rgba(0, 0, 0, 0.3);
}

.name {
    color: #000000;
    font-size: 21px;
    line-height: 21px;
}

.name:active {
    color: rgba(0, 0, 0, 0.3);
}

.orders,
.personal-account {
    text-decoration: underline;
    color: #32425c;
    font-size: 16px;
    line-height: 18px;
}

.orders:hover,
.personal-account:hover {
    color: #ee3643;
}

.orders:active,
.personal-account:active {
    color: rgba(50, 66, 92, 0.3);
}


.main-navigation {
    margin: 0;
    margin-bottom: 60px;
    padding: 0;
    list-style-type: none;
    display: flex;
}

.main-navigation li {
    min-height: 60px;
    padding: 23px 31px;
    flex-grow: 1;
    background-color: #32425c;
}

.main-navigation li:first-child {
    padding-left: 51px;
    padding-right: 34px;
}

.main-navigation li:last-child {
    padding-right: 55px;
    padding-left: 34px;
}

.main-navigation a:hover {
    color: #32425c;
}

.main-navigation a:active {
    color: #1d2739;
}

.breadcrumbs {
    color: #000000;
    font-size: 13px;
    line-height: 18px;
}

.perforators {
    background-color: #f9f5f0;
}

.perforators h2 {
    font-size: 30px;
    line-height: 30px;
    color: #32425c;
    text-transform: uppercase;
}

.filters {
    font-family: "PT Sans", "Arial", sans-serif;
}

.filters h3 {
    color: #000000;
    font-size: 13px;
    line-height: 18px;
}
.filters .filter-background {
    background-color: #f7f3ec;
}

.company-filter,
.charge-filter {
    color: #000000;
    font-size: 15px;
    line-height: 20px;
}

.filters legend {
    color: #000000;
    font-weight: bold;
    font-size: 17px;
    line-height: 30px;
}

.show-result {
    color: #000000;
    font-size: 13px;
    line-height: 18px;
}

.assortment {
    background-color: #f7f3ec;
    font-family: "PT Sans", "Arial", sans-serif;
}

.assortment-list {
    list-style: none;
}

.assortment-list li.inactive {
    color: rgba(0, 0, 0, 0.3);
    border-bottom: 1px dotted #ee3643;
}

.assortment li.active {
    color: #ee3643;
}

.assortment-list li:hover{
    color: #000000;
    border-bottom: 1px solid #ee3643;
}

.assortment-list li:active{
    color: #ee3643;
}

.assortment-buttons li:hover{
    color: #000000;
}

.assortment-buttons li:active{
    color: #ee3643;
}


.about-perforators {
    background-color: #f3f7f9;
    color: #000000;
}

.about-perforators h2 {
    font-size: 30px;
    line-height: 30px;
}

.about-perforators p {
    font-size: 13px;
    line-height: 24px;
}

.paginator-pages li {
    font-size: 13px;
    line-height: 18px;
    color: #000000;
    text-transform: uppercase;
}

.paginator-pages .current-page {
    background-color: #ee3643;
}

.advantages {
    text-transform: uppercase;
    color: #ffffff;
    font-size: 13px;
    line-height: 18px;
}

.advantages-list {
    list-style: none;
    display: flex;
    flex-wrap: no-wrap;
    
}

.advantage-item{
    width: 300px;
    min-height: 123px;
    margin-right: 20px;
}

.goods {
    background-color: #ffbf47;
}

.instruments {
    background-color: #3bbce3;
}

.equipment {
    background-color: #dc91d8;
    margin-right: 0;
}

.discounts {
    background-color: #8ed78f;
}

.delivery {
    background-color: #ffc047;
}

.advantage-item h3{
    font-weight: bold;
    font-size: 24px;
    line-height: 30px;
}

.advantage-item a {
    font-size: 14px;
    line-height: 18px;
    color: #000000;
    opacity: 0.1;
}

.advantage-item a:hover {
    color: #000000;
    opacity: 0.2;
}

.advantage-item a:active {
    color: #000000;
    opacity: 0.3;
}

.first-slider {
    list-style: none;
}

.first-slider b {
    font-size: 36px;
    line-height: 36px;
}

.first-slider span {
    font-size: 18px;
    line-height: 24px;
    text-transform: none;
}

.button {
    background-color: #ee3643;
    font-size: 14px;
    line-height: 18px;
    color: #ffffff;
    text-transform: uppercase;
}

.button:hover {
    background-color: #ca2c37;
}

.button:active {
    background-color: #ba2732;
}

.popular-items div {
    background-color: #f9f5f0;
}

.popular-items h2 {
    font-size: 30px;
    line-height: 30px;
    color: #32425c;
    text-transform: uppercase;
}

.popular-item {
    font-family: "PTSans" , "Arial", sans-serif;
}

.popular-item:hover img{
    display: none;
}

.popular-item:hover .to-buy,
.popular-item:hover .add-to-bookmarks{
    display: block;
}

.to-buy {
    background-color: #63a63e;
    color: #ffffff;
    text-transform: uppercase;
    font-size: 14px;
    line-height: 18px;
}

.to-buy:hover{
    background-color: #5fbb2d;
}

.to-buy:active{
    background-color: #518534;
}

.add-to-bookmarks {
    background-color: #ffffff;
    color: #32425c;
    text-transform: uppercase;
    border: 3px solid #63a63e;
    font-size: 14px;
    line-height: 18px;
}

.add-to-bookmarks:hover {
    border: 3px solid #32425c;
}

.add-to-bookmarks:active {
    border: 3px solid #32425c;
    opacity: 0.3;
    color: rgba(50, 66, 92, 0.3);
}


.popular-item-list {
    list-style: none;
}

.popular-item h3 {
    color: #000000;
    font-size: 18px;
    line-height: 20px;
}

.old-price {
    font-size: 17px;
    line-height: 18px;
    color: #a9a9a9;
    text-decoration: line-through;
}

.current-price {
    background-color: #ee3643;
    font-size: 17px;
    line-height: 18px;
    color: #ffffff;
}

.popular-manufactures > div {
    background-color: #f9f5f0;
    font-size: 30px;
    line-height: 30px;
    color: #32425c;
    text-transform: uppercase;
}

.popular-manufactures-list {
    list-style: none;
}

.services {
    background-color: #f4f7f9;
}

.services p {
    font-family: "PTSans" , "Arial", sans-serif;
    font-size: 13px;
    line-height: 24px;
    color: #000000;
}

.second-slider {
    list-style: none;
}

.second-slider li{
    background-color: #32425c;
}

.second-slider .current-slide {
    background-color: #ffffff;
    color: #32425c;
}

.second-slider li:hover{
    background-color: #293449;
}

.services h2 {
    color: #ffffff;
    font-size: 21px;
    line-height: 30px;
    font-weight: bold;
}

.about-us h2{
    color: #000000;
    text-transform: uppercase;
    font-size: 30px;
    line-height: 30px;
}

.our-benefits {
    font-family: "PTSans", "Arial", sans-serif;
    color: #000000;
    font-size: 13px;
    line-height: 24px;
}

.transport-companies {
    color: #000000;
    font-size: 18px;
    line-height: 20px;
}

.contacts h2 {
    text-transform: uppercase;
    color: #000000;
    font-size: 30px;
    line-height: 30px;
}

.contacts p {
    font-family: "PTSans", "Arial", sans-serif;
    color: #000000;
    font-size: 13px;
    line-height: 24px;
}

footer {
    background-color: #32425c;
}

footer ul {
    list-style: none;
}

.site-navigation li{
    color: #f3f7f9;
    font-size: 18px;
    line-height: 24px;
}

.site-navigation a:hover,
.catalog-navigation a:hover {
    text-decoration: underline;
}

.site-navigation a:active {
    color: rgba(241, 245, 247, 0.5);
}

.catalog-navigation a:active {
    color: rgba(255, 209, 128, 0.5);
}

.footer-address {
    color: #ffffff;
    font-size: 18px;
    line-height: 24px;
}

.catalog-navigation {
    color: #ffd180;
    font-size: 18px;
    line-height: 24px;
}

.footer-third-lvl {
    background-color: #293449;
}

.all-rights {
    color: #ffffff;
    font-size: 16px;
    line-height: 18px;
}

.social-btn {
    background-color: #212a3a;
}

.social-btn:hover,
.social-btn:active {
    background-color: #ee3643;
}

.feedback,
.site-developer {
    font-size: 16px;
    line-height: 18px;
    color: #ffffff;
}

.feedback a,
.site-developer a {
   color: #ffd180;
}

.feedback a:hover,
.site-developer a:hover {
   text-decoration: underline;
}

.feedback a:active,
.site-developer a:active {
   color: #ee3643;
}

.modal-feedback,
.modal-map,
.modal-added-in-basket {
    display: none;
}